:root {
  --body: #f0f2f5;

  --primary: #1877f2;
  --primary-hover: #0868e4;

  --success: #42b72a;
  --success-hover: #2ea517;

  --text-color: #189cf8;
  --border: #dddfe2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 75%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

.col-a {
  width: 60%;
}

.col-b {
  width: 40%;
}

.col-b form {
  background: #fff;
  padding: 25px;

  border-radius: 5px;
}

.col-b form input {
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
}

.col-b form input::placeholder {
  font-size: 16px;
}

/* Propriedades comuns */
.col-b form input,
.col-b form button {
  width: 100%;
  padding: 13px;
  border-radius: 5px;
}

.col-b form button {
  margin-bottom: 25px;
}
