:root {
  --body: #f0f2f5;

  --primary: #1877f2;
  --primary-hover: #0868e4;

  --success: #42b72a;
  --success-hover: #2ea517;

  --text-color: #189cf8;
  --border: #dddfe2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 75%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
}

/* COL-A */
.col-a {
  width: 60%;
}

.col-a img {
  width: 60%;
  margin-left: -40px;
}

.col-a h2 {
  font-size: 25px;
  font-weight: 300;
  width: 70%;
}

/* COL-B */
.col-b {
  width: 40%;
}

.col-b form {
  background: #fff;
  padding: 25px;

  border-radius: 5px;
}

.col-b form input {
  margin-bottom: 10px;
  border: 1px solid #dddfe2;
}

.col-b form input::placeholder {
  font-size: 16px;
}

/* Propriedades comuns */
.col-b form input,
.col-b form button {
  width: 100%;
  padding: 13px;
  border-radius: 5px;
}

.col-b form button {
  border: none;
  background: #1877f2;

  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.col-b form > a {
  color: #189cf8;
  text-decoration: none;

  display: flex;
  justify-content: center;

  margin-block: 25px;
}

.col-b form hr {
  border: 0.5px solid #dddfe2;
}

.col-b div a {
  width: 60%;
  background: #42b72a;

  color: white;

  border-radius: 5px;
  padding: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 15px auto 0 auto;

  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.col-b p {
  margin-top: 15px;
  font-size: 15px;
}

.col-b p a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
